/****************************************************************
 * 			config.css
 *
 *
 *
 * **************************************************************/
 
 @import url("/System_Files/css/FOIL-UI.css");

 body {
         background-color:rgb(0, 0, 0);	
         color:white;
 }
 
 
 .FOIL-button {
         background-color: transparent;
         box-shadow: none;
         border-color:rgba(255, 255, 255, 0.171);
         border-style:solid;
 }
 
 
 .FOIL-button-small {
         background-color: transparent;
         border-color:rgba(255, 255, 255, 0.171);
         box-shadow: none;
         border-style:solid;
         
         
 }
 
 
 .FOIL-Layout {
         background-color:transparent;
         box-shadow: none;
         color:white;
 }
 
 