/* Settings Application */
body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: black;
  animation-name: settings_start_animation_1;
  animation-duration: 1s;
}

h1 {
  font-size: 70px;
}

li {
  padding: 16px 32px;
  background-color: #533831;
  color: white;
  border-style: double;
  border: 10px;
  border-radius: 2px;
  animation-name: settings_start_animation_1;
  animation-duration: 2s;
}

ul {
  padding: 16px 32px;
  background-color: #565c5e;
  color: white;
  border-style: double;
  border: 10px;
  border-radius: 2px;
}

div {
  color: white;
  border: 10px;
}

.main-screen {
  color: black;
  padding: 100px 1px;
  border-radius: 4px;
  animation-name: settings_start_animation;
  animation-duration: 3s;
}

.main-screen.color-one {
  background-color: #565c5e;
  color: white;
}

.main-screen.color-two {
  background-color: #455954;
}

.main-screen.color-three {
  background-color: #9d7463;
}

.main-screen.color-four {
  background-color: #b5c2c7;
}

.main-screen-color-five {
  background-color: #dfdbd8;
}

.header-screen {
  color: black;
  padding: 55px 1px;
  border-radius: 4px;
  animation-name: settings_start_animation_1;
  animation-duration: 1s; 
}

.header-screen.color-one {
  background-color: #565c5e;
  color: white;
}

.header-screen.color-two {
  background-color: #455954;
}

.header-screen.color-three {
  background-color: #9d7463;
}

.header-screen.color-four {
  background-color: #b5c2c7;
}

.header-screen-color-five {
  background-color: #dfdbd8;
}

.button {
  font-size: 27px;
  background-color: rgb(49, 49, 49);
  padding: 16px 32px;
  margin: 27px;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  display: inline-block;
  transition-duration:0.2s;
}

.button:hover {
  background-color: rgb(170, 111, 0);
}

.button:active {
  background-color: rgb(0, 153, 0);
}

/* Animations */
/* When the user starts the settings app, the starting animation will occur. */
@keyframes settings_start_animation_1 {
  from {
    margin-top: 100%;
  }
  to {
    margin-top: 0%;
  }
}

@keyframes settings_start_animation_2 {
  from {
    margin-bottom: 100%;
  }
  to {
    margin-top: 0%;
  }
}