@import url('FOIL-UI.css');

body{
zoom: .80;
}



body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

h1 {
  font-size: 70px;
}


/* Window Blinds Effect */
.window-blinds-effect {
  resize: vertical;
  overflow: auto;
}

/* Status Bar for the Time Indicator and other options */
.main-indicator-screen {
  position: relative;
  top: 10px;
  overflow: none;
}

.main-indicator-screen-left {
  position: absolute;
  text-align: left;
  margin-left: 20px;
}

.main-indicator-screen-right {
  position: relative;
  text-align: right;
}

/* Home Screen Main Screen on the top with options*/
.home-screen-main-screen{
  background-color:transparent;
  color:white;
  padding: 10em 1em;
  position: relative;
  z-index: 2;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.459), 0 20px 20px 0 rgba(61, 61, 61, 0.589);
  animation-name: home_screen_main_screen_animation;
  animation-duration: 1s;
  
}

.home-screen-main-screen.color {
	background-color: white;
	color:black;
}

